#clockContainer{
    position: relative;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    margin: auto;
}

#hour, #min, #sec{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
width: 0.7%;
height:8%;
top:34%;
left:50%;
opacity: 0.8%;

}

#min{
    width: 0.7%;
    height:10%;
    top:34%;
    left:50%;
    opacity: 0.8%;
}

#sec{
    width: 0.7%;
    height:30%;
    top:34%;
    left:50%;
    opacity: 0.8%;


}